body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  width: 100%;
  background-color: #f4f4f4;
  overflow-x: hidden;
  @media (max-width: @mobile-places) {
    background-color: white;
  }
  overflow-x: hidden;
}
