.list {
  width: 100%;
  padding: 80px calc(~"50% - 200px");
  background: white;
  position: relative;
  @media (max-width: 500px){
    width: 100%;
    padding: 80px 20px;
  }
  @media (max-width: 300px){
    width: 100%;
    padding: 80px 10px;
  }
    
  &--blur {
    -webkit-filter: blur(4px);
    filter: blur(4px);
  }
  
  &__title {
    width: 100%;
    height: 50px;
    padding: 5px 0;
    font-size: 26px;
    text-align: center;
    color: @edh-dark-grey;
    .ellipsis();
    @media (max-width: 400px){
      font-size: 21px;
      padding: 9px 0;
    }
    &--edit {
      display: none;
      background: #f6f6f6;
      border-radius: 5px;
      border: none;
      margin: 0;
      &:focus {
        outline: none;
      }
    }
  }
  
  &__owner {
    color: @edh-grey;
    font-size: 11px;
    text-align: center;
  }
    
  &__description {
    width: 100%;
    text-align: center;
    padding: 8px;
    margin-top: 20px;
    color: @edh-dark-grey;
    &--edit {
      display: none;
      background: #f6f6f6;
      border-radius: 5px;
      border: none;
      margin-bottom: 0;
      &:focus {
        outline: none;
      }
    }
    &--add {
      cursor: pointer;
      &:hover {
        color: @edh-blue;
      }
    }
  }
  
  &__count {
    .box-model(40px, 22px, 0 10px 10px, 10px auto 60px);
    .gradient-bg();
    text-align: center;
    border-radius: 20px;
    color: white;
  }
  
  &__empty {
    .box-model(100%, 80px, 30px, 10px auto 40px);
    text-align: center;
    color: @edh-grey;
    span {
      color: @edh-blue;
      text-decoration: underline;
      cursor: pointer;
    }
  }
  
  &__share {
    display: block;
    margin: 80px auto 60px;
  }
  
  &__delete {
    margin: 80px auto 60px;
    border: 1px solid @edh-red;
    &--hide {
      display: none;
    }
    &--show {
      display: block;
    }
  }
  
  &__share,
  &__delete {
    @media (max-width: 200px) {
      width: 100%;
      padding: 0;
      text-align: center;
    }
  }
  
  &__edit {
    .box-model(24px, 18px, 0, 0);
    position: absolute;
    top: 20px;
    color: @edh-grey;
    left: calc(~"50% - 190px");
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    @media (max-width: 500px){
      left: 20px;
    }
    &--red {
      color: @edh-red;
    }
  }
  
  &__close {
    .box-model(18px, 18px, 0, 0);
    position: absolute;
    top: 20px;
    font-size: 30px;
    line-height: 18px;
    color: @edh-grey;
    right: calc(~"50% - 190px");
    cursor: pointer;
    @media (max-width: 500px){
      right: 20px;
    }
  }
}