#login-buttons {
  #login-buttons-facebook {
    .box-model(200px, 45px, 0, 60px auto);
    font-size: 14px;
    display: block;
    background-color: rgb(65, 88, 148);
    text-align: center;
    line-height: 45px;
    color: white;
    border-radius: 50px;
    cursor: pointer;
  }
}
