.logo {
  background-image: url("/images/logo-color.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 226px;
  height: 156px;
  display: block;
  margin: 60px auto 0;
  @media (max-width: 300px) {
    width: 113px;
    height: 78px;
  }
  @media (max-height: 650px) {
    margin: 30px auto 0;
    width: 180px;
  }
}
