@places-width: 650px;

.place {
  background: white;
  position: relative;
  width: @places-width;
  margin: 0 auto;
  @media (max-width: @mobile-places){
    width: 100%;
    padding: 0;
    border: 0px;
    border-radius: 0 0 0 0;
    margin-bottom: 0;
  }
  @media (max-width: 300px) {
    width: 100%;
  }
  
  &__nav {
    .gradient-bg(-60%, 160%);
    position: fixed;
    width: @places-width;
    left: calc(~"50% - 325px");
    right: calc(~"50% - 325px");
    top: 0;
    height: 60px;
    padding-top: 5px;
    color: white;
    z-index: 9000;
    @media (max-width: @mobile-places){
      width: 100%;
      left: 0;
      right: 0;
    }
  } 
   
  &__title {
    width: 50%;
    margin: 0 auto;
    min-width: 50px;
    .ellipsis;
    padding: 8px 0;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    .ellipsis();
    @media (max-width: 400px){
      font-size: 21px;
      padding: 9px 0;
    }
  } 
  &__back {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 60px;
    top: 0;
    padding-top: 16px;
    width: 100px;
    left: 0;
    padding-left: calc(~"50% - 305px");;
    @media (max-width: @mobile-places){
      padding-left: 20px;
    }
    @media (max-width: 200px){
      padding-left: 10px;
    }
    &:before {
      content: "";
      float: left;
      background: url(/images/back-white.png) no-repeat;
      background-size: contain;
      width: 25px;
      height: 25px;
      margin: 4px 6px 0 0;
    }
  }

  &__add {
    .box-model(60px, 60px, 0, 0);
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("/images/heart-white.png");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: pointer;
  }
  
  &__photo {
    .box-model(100%, 200px, 0, 0);
    background: @edh-dark-grey;
    overflow-x: hidden;
    img {
      height: 200px;
      width: 100%;
      display: block;
      object-fit: cover;
    }
  }

  &__info {
    padding: 20px;
    @media (max-width: 300px){
      padding: 10px;
    }
    p {
      color: @edh-dark-grey;
    }
  }
  
  &__heading {
    font-size: 18px;
    font-weight: 800;
  }
  
  &__rating {
    color: @edh-grey;
    font-size: 16px;
    line-height: 30px;
    margin: 5px auto 10px;
  }
  
  &__tip {
    display: flex;
    min-height: 60px;
    padding: 15px 0;
    align-items: center;
    img {
      .box-model(40px, 40px, 0, 6px 20px 6px 0);
      display: inline-flex;
      border-radius: 40px;
    }
    span {
      display: inline-flex;
      width: calc(~"100% - 70px");
      font-size: 14px;
      line-height: 16px;
    }
  }
  &__view-all {
    color: @edh-blue;
    margin: 10px 0 0 60px;
    font-size: 14px;
  }
}

.place-content {
  position: fixed;
  top: 60px;
  bottom: 0;
  overflow: hidden;
  width: @places-width;
  overflow-y: scroll;
  @media (max-width: @mobile-places) {
    width: 100%;
  }  
}

.add-business {
  display: none;
  .box-model(260px, auto, 10px, 0);
  position: fixed;
  z-index: 9100;
  top: 65px;
  right: calc(~"50% - 315px");
  background: #f4f4f4;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 90px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 90px -15px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 90px -15px rgba(0,0,0,0.75);
  text-align: center;
  @media (max-width: @mobile-places) {
    right: 10px;
  }
  &__title {
    font-weight: 800;
    font-size: 16px;
    margin: 10px auto;
  }
  
  &__lists {
    width: 90%;
    -webkit-appearance: initial;
    background-image: url("images/dropdown-arrow.png");
    background-repeat: no-repeat;
    background-size: 12px 8px;
    background-position: 95% 50%;
    padding-right: 25px;
  }
  
  &__save {
    width: 40%;
    .gradient-bg();
    border: none;
    color: white;
  }
}

.tips-count {
  display: inline;
  position: absolute;
  margin-top: -6px;
  margin-left: 10px;
}

.powered-by-foursquare {
  position: relative;
  top: 0;
  height: 75px;
  padding-top: 25px;
  border-top: 1px solid #eee;
  font-weight: bold;
  font-size: 12px;
  .foursquare-logo {
    background-image: url("Foursquare-iOS.png");
    background-size: 100%;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    border: 2px solid rgb(249, 80, 124);
    margin: 0 5px 0 2px;
    position: absolute;
    left: calc(~"50% - 12px");
  }
  .powered-by-text {
    position: absolute;
    padding-top: 4px;
    &.left-side {
      left: calc(~"50% - 80px");
    }
    &.right-side {
      right: calc(~"50% - 82px");
    }
  }
}