.place {
  background: white;
  position: relative;
  width: 400px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  @media (max-width: @mobile-places){
    width: 100%;
    padding: 0;
    border: 0px;
    border-radius: 0 0 0 0;
  }
  @media (max-width: 300px){
    width: 100%;
  }
  
  &__nav {
    .gradient-bg(-60%, 160%);
    position: fixed;
    width: 400px;
    left: calc(~"50% - 200px");
    right: calc(~"50% - 200px");
    top: 0;
    opacity: 0.95;
    color: white;
    @media (max-width: @mobile-places){
      width: 100%;
      left: 0;
      right: 0;
    }
  } 
   
  &__title {
    width: 50%;
    margin: 0 auto;
    min-width: 50px;
    .ellipsis;
    height: 50px;
    padding: 10px 0;
    font-size: 20px;
    text-align: center;
    .ellipsis();
    @media (max-width: 400px){
      font-size: 21px;
      padding: 9px 0;
    }
  }
  &__close {
    .box-model(18px, 18px, 0, 0);
    position: absolute;
    top: 17px;
    left: calc(~"50% - 180px");
    font-size: 22px;
    line-height: 18px;
    cursor: pointer;
    @media (max-width: @mobile-places){
      left: 20px;
    }
    @media (max-width: 200px){
      left: 10px;
    }
  }
  &__add {
    .box-model(18px, 18px, 0, 0);
    position: absolute;
    top: 17px;
    right: calc(~"50% - 180px");
    font-size: 16px;
    line-height: 18px;
    cursor: pointer;
    @media (max-width: @mobile-places){
      right: 20px;
    }
    @media (max-width: 200px){
      right: 10px;
    }
  }
  
  &__photo {
    .box-model(100%, 200px, 0, 0);
    background: @edh-dark-grey;
    overflow-x: hidden;
    img {
      height: 200px;
      width: 100%;
      display: block;
      object-fit: cover;
    }
  }

  &__info {
    padding: 20px 10px;
    @media (max-width: @mobile-plces) {
      padding: 20px;
    }
    @media (max-width: 300px){
      padding: 10px;
    }
    p {
      color: @edh-dark-grey;
    }
  }
  
  &__heading {
    font-size: 18px;
    font-weight: 800;
  }
  
  &__rating {
    color: @edh-gold;
    font-size: 18px;
    margin: 5px auto 10px;
  }
  
  &__tip {
    display: flex;
    min-height: 60px;
    padding: 15px 0;
    align-items: center;
    img {
      .box-model(40px, 40px, 0, 6px 20px 6px 0);
      display: inline-flex;
      border-radius: 40px;
    }
    span {
      display: inline-flex;
      width: calc(~"100% - 70px");
      font-size: 14px;
      line-height: 16px;
    }
  }
  &__view-all {
    color: @edh-blue;
    margin: 10px 0 0 60px;
    font-size: 14px;
  }
}

.add-business {
  display: none;
  .box-model(260px, auto, 10px, 0);
  position: fixed;
  top: 45px;
  right: calc(~"50% - 190px");
  background: #f4f4f4;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 90px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 90px -15px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 90px -15px rgba(0,0,0,0.75);
  text-align: center;
  @media (max-width: @mobile-places) {
    right: 10px;
  }
  &__title {
    font-weight: 800;
    font-size: 16px;
    margin: 10px auto;
  }
  
  &__lists {
    width: 90%;
  }
  
  &__save {
    width: 40%;
    .gradient-bg();
    border: none;
    color: white;
  }
}