.profile {
  .box-model(100%, 200px, 60px 40px, 0);
  .gradient-bg();
  position: relative;
  color: white;
  &__picture {
    .box-model(80px, 80px, 0, 0 30px);
    border-radius: 50px;
    background: url(/images/avatar.png) center center no-repeat;
    background-size: cover;
    float: left;
  }
  &__name {
    .box-model(auto, 40px, 8px 0, 0);
    float: left;
    font-size: 20px;
    font-weight: 600px;
  }
  &__reviews {
    .box-model(100px, 40px, 8px 0, 0);
    float: left;
    font-size: 16px;
  }
  &__settings {
    .box-model(20px, 20px, 0, 0);
    position: absolute;
    top: 20px;
    right: 20px;
    background: url(/images/logout.png) center center no-repeat;
    background-size: contain;
    cursor: pointer;
  }
}