.profile {
  .box-model(100%, 200px, 60px 14%, 0);
  .gradient-bg(-40%, 140%);
  position: relative;
  color: white;
  @media (max-width: 400px) {
    .box-model(100%, auto, 60px 0 20px, 0);
    float: none;
    margin: 0 auto;
  }
  &__picture {
    .box-model(80px, 80px, 0, 0 20px 0 0);
    border-radius: 50px;
    background: url(/images/avatar.png) center center no-repeat;
    background-size: cover;
    float: left;
    @media (max-width: 400px) {
      float: none;
      margin: 0 auto;
    }
  }
  &__details {
    .box-model(50%, 80px, 0, 0);
    float: left;
    line-height: 20px;
    @media (max-width: 400px) {
      .box-model(80%, 80px, 0, 0 auto);
      float: none;
      text-align: center;
    }
  }
  &__name {
    .box-model(100%, 26px, 0, 14px 0 0px);
    font-size: 20px;
    .ellipsis();
  }
  &__reviews {
    .box-model(100%, 20px, 0, 8px 0 6px);
    font-size: 16px;
  }
  &__settings {
    .box-model(20px, 20px, 0, 0);
    position: absolute;
    top: 20px;
    right: 20px;
    background: url(/images/logout.png) center center no-repeat;
    background-size: contain;
    cursor: pointer;
  }
}
