.sidebar {
  background-color: white;
  width: 400px;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  z-index: 1000;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
  overflow-y: auto;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  &.hidden {
    margin-left: -400px;
  }
  @media (max-width: 500px) {
    width: 80%;
  }
}

.toggle-sidebar {
  position: fixed;
  font-size: 22px;
  top: 12px;
  left: 10px;
  z-index: 2000;
  color: white;
  padding: 0px 10px;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  &.closed {
    color: black;
    background-color: white;
    border-radius: 20px;
  }
}
